<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">
 
    <context:annotation-config />
 
    <!-- <context:component-scan base-package="SpringSamples.SampleSpring"/> -->
    
    <bean class="SpringSamples.SampleSpring.controller.HomeController" scope="singleton" >
   <!--  <aop:scoped-proxy/> -->
    </bean>
    
     <bean class="SpringSamples.SampleSpring.controller.HomeController2" scope="singleton">
    <!--  <aop:scoped-proxy/> -->
     </bean>
     
    <bean id="studentService" class="com.practice.model.StudentService"/>
    	
    
    <bean id="studentService2" class="com.practice.model.StudentService2"/>
    
    <!-- <bean id="student" class="com.practice.model.Student" scope="request">
    	<aop:scoped-proxy/>
    </bean> -->
    
    <bean id="student" class="com.practice.model.Student"/>
    
    
    
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
    	<property name="prefix" value="/WEB-INF/views/"/>
    	<property name="suffix" value=".jsp"/>
    
    </bean>
</beans>